* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: #6675ff;
  color: #fff066;
}

label {
  font-size: 4rem;
}

h1 {
  font-size: 8rem;
}

h3 {
  font-size: 6rem;
}

h1,
h3 {
  color: #66ffa3;
}

.flex-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}
